body 
{
    background-image: url(../assets/RockPaperSpock.webp);
    font-family: 'Arial', sans-serif;
    color: #f0e68c;
    background-repeat:no-repeat;
    background-size: cover;
}

.container
{
    background-color: #00000034;
}

h1 
{
    font-size: 40px;
    text-shadow: 2px 2px 4px #000;
}

.btn 
{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover 
{
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(220, 235, 13, 0.774);
}

.btn img 
{
    width: 140px;
    height: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

.btn span 
{
    font-size: 1.2em;
    font-weight: bold;
    color: #fdfdf6;
    text-shadow: 2px 2px 4px #000;
}

.pe
{
    padding-right: 6.5rem;
}

