body
{
    background-image: url(../assets/RockPaperSpock.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: serif;
}


.background-main
{
    background-color:rgba(0, 0, 0, 0.473);
    border-radius: 1rem;
    height:;
}
